.bg-img {padding-bottom: 56.25%;}
.bg-black {background-color: #000;}
.bg-red {background: linear-gradient(180deg, #85040400 0%, #850404 20%, #cf0404 65%,#850404 80%, #85040400 100%);}
.word-box {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.btn-gold {
    background: linear-gradient(90deg, #B67C24 0%, #F4D97A 20%, #F4D97A 80%, #B67C24 100%);
    color: #fff;
    text-shadow: 1px 1px 0px #000, 0px 1px 0px #000, -1px 1px 0px #000, -1px 0px 0px #000, -1px -1px 0px #000, 0px -1px 0px #000, 1px -1px 0px #000, 1px 0px 0px #000;
}
.btn-gold:hover {color: #fff;}
.btn-outline-gold {
    color: #F4D97A;
    border-color: #F4D97A;
    border-width: 3px;
}
.btn-outline-gold:hover {
    color: #000;
    background-color: #F4D97A;
    border-color: #F4D97A;
}
.text-glod {
    background: linear-gradient(180deg, #B67C24 20%, #F4D97A 40%, #F4D97A 60%, #B67C24 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-yellow {color: #F4D97A !important;}
.FarAndNear {animation: FarAndNear .8s ease infinite  alternate ;}
.contact-us-btn {font-size: 2rem;font-weight: bold;}
.fifthpg {background: linear-gradient(180deg, #B67C24 0%, #F4D97A 30%, #F4D97A 60%, #B67C24 90% , #000 100%);}
.fifthpg:before {
    content: '';
    position: absolute;
    top: -2.5rem;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 2.5rem 50vw;
    border-color: transparent transparent #B67C24 transparent;
}
.fifthpg:after {
    content: '';
    position: absolute;
    top: -2.5rem;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50vw 2.5rem 0;
    border-color: transparent transparent #B67C24 transparent;
}
/*---------------*/
video {
    width: 100%;
    height: auto;
    max-width: 768px;
    max-height: 432px;
}
@media screen and (max-width: 500px) {
    .bg-img {
        padding: 0;
        height: 100vh;
    }
    .h3 {
        font-size: .85rem;
    }
    .w-ph-100 {
        width: 100% !important;
    }
    .w-ph-80 {
        width: 80% !important;
    }
    .flex-ph-column {
        flex-direction: column;
    }
    .service-card {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .align-items-ph-end {
        -webkit-box-align: flex-end!important;
        -ms-flex-align: flex-end!important;
        align-items: flex-end!important;
    }
    .fist-word-box {padding: 25% 15% 20%;}
    .p-ph-0{padding: 0;}
}
@keyframes FarAndNear {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}